:root {
    --max-body-width: 1820px;
    --shadow-effect: 0px 4px 8px rgba(0, 0, 0, 0.473);
    font-family: "Roboto", sans-serif;
}

* {
}

/* Section Sizing */

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);

}

header, main, footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero, .portfolio, .contact {
    flex: 1 1 0;
    max-width: var(--max-body-width);
    margin: 0 10vw;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

/* Hero */

header {
    background: rgb(47,86,195);
    background: linear-gradient(165deg, rgba(47,86,195,1) 0%, rgba(34,75,190,1) 49.9%, rgba(0, 0, 0, 0.37) 50%, rgba(0,0,0,0) 50.3%, rgba(0,0,0,0) 100%);
    background-size: contain;
}

.hero {
    display: flex;
    justify-content: center;
    min-height: clamp(600px, 100vh, 1440px);
}

.bio {
    display: flex;
    align-items: center;
}
 
.headshot {
}

.headshot img{
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    object-fit: contain;
    object-position: center;
    /* min-height: 85vh;  */
    width: 750px; 
    box-shadow: var(--shadow-effect);
}

.headshot h1{
    position: absolute;
    z-index: 1;
    bottom: 1px;
    left: 20%;
}

.name {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 5.5rem;
    text-align: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: var(--shadow-effect);
    min-height: 700px;
    padding: 15px 40px;
    flex: 1 1 0;
}

.about-me > h2 {
    font-size: 4.2rem;
    font-weight: 300;
    margin: 10px 0;
}

.about-me span {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: rgb(66, 66, 66);
}

.social-links {
    font-size: 3rem;
    text-align: end;
    margin: 10px 0;
}

.social-links a {
    text-decoration: none;
    color: black;

}

/* Portfolio */

main {
    flex: 1 0 auto;
}

.portfolio h2 {
    font-size: 3rem;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 3rem;
    margin: 5px 0 130px 0;
}

.project {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-effect);
}

.project .details {
    min-height: 200px;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr 6rem;
}

.project .details h3 {
    font-size: 1.5rem;
}

.project .details .links {
    align-self: center;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a * {
    font-size: 2rem;
    vertical-align: middle;
}

.description {
    grid-column: 1 / 3;
}

.description span {
    font-size: 1.1rem;
}

.project:first-child .screenshot  {
    background-color: rgb(167, 28, 28);
}

.project:nth-child(0n+2) .screenshot {
    background-color: rgb(42, 28, 167);
}

.project:nth-child(0n+3) .screenshot {
    background-color: rgb(28, 167, 160);
}

.project:nth-child(0n+4) .screenshot {
    background-color: rgb(167, 130, 28);
}

.project:nth-child(0n+5) .screenshot {
    background-color: rgb(100, 28, 167);
}

.project:nth-child(0n+6) .screenshot {
    background-color: rgb(51, 167, 28);
}

.screenshot {
    /* max-width: 400px; */
    min-height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.screenshot > span {
    color: white;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
}

/* Footer */

footer {
    background: rgb(19,38,92);
    background: linear-gradient(0deg, rgba(19,38,92,1) 0%, rgba(47,86,195,1) 35%, rgba(47,86,195,1) 50%);
    flex-shrink: 0;
    height: 600px;
}

.contact {
    padding: 40px 0 80px 0;
    font-size: 1.3rem;
    color: white;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 4rem 4rem 6rem 4rem 4rem 6rem 6rem;
}

.contact * {
    align-self: center;
    justify-self: flex-start;
}

.contact h2 {
    font-size: 3rem;
    font-weight: 400;
    grid-row: 1  / 2;
    margin: 0;
}

.contact div {
    grid-row: 2 / 3;
}

.contact .address {
    grid-row: 3 / 4;
}

.contact .phone-number {
    grid-row: 4 / 5;
}

.contact .email {
    grid-row: 5 / 6;
}

.contact .social-links {
    grid-row: 6 / 7;
    color: black;
    display: flex;
}

.contact .social-links * {
    margin: 0 10px;
}

.contact .contact-splash {
    background-image: url(/pexels-negative-space-92905.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-self: auto;
    justify-self: auto;
    grid-row: 1 / 8;
    grid-column: 2 / 3;
}

.material-symbols-outlined {
    vertical-align: middle;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* Hover and active */
a:hover {
    display: inline-block;
    transform: scale(1.2);
    transition: all 0.05s ease-in-out;
}

a:active .icon {
    filter: invert(40%);
}

.project:hover {
    transform: scale(1.015);
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.33);
}

/* Media queries*/

@media (500px <= width <= 1500px){
    .bio {
        flex-direction: column;
    }

}

@media (width <= 500px){
    .bio {
        flex-direction: column;
    }

}